

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 

}
body{
    overflow-x: hidden;


.bold-text{
    font-weight: 900;
}

.large-text{
    font-size: 58px;
}

.font-style{
    font-style: italic;
}

}